---
title: Todos
lang: en
todos: [{title: clone this repo}, {title: learn jade}, {title: profit!}]
---
extends ./layouts/default.jade
block content
  .container
    h1= title
    ul
      each item in todos
        li= item.title
